<md-sidenav id="main-sidenav" layout="column" class="sidenav md-sidenav-left md-whiteframe-z3" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <div class="sidenav-header">
    <md-menu-bar class="main-menu md-whiteframe-z1">
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          File
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="upload.show()">
              Upload Images
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-menu>
              <md-button ng-click="$mdOpenMenu()">Upload with Metadata File</md-button>
              <md-menu-content>
                <md-menu-item>
                  <md-button>File Type 1</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button>File Type 2</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="showShareDialog()" >
              Share Current Workspace
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button ng-click="upload.updateType()">
              Logout
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Options
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button>
              Settings
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button ng-click="toggleLogo()">
              <span ng-show="!logoVisible()">Show Logo</span>
              <span ng-show="logoVisible()">Hide Logo</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
    <header id="logo">
      <div class="logo">
        <img src="assets/img/logo-ibeis.png" height="240" width="240" ng-click="toggleLogo()">
      </div>
    </header>
    <md-divider></md-divider>
  </div>
  <ng-include src="'app/views/includes/workspace/workspace.left.html'"></ng-include>
</md-sidenav>
<div class="layout-column flex">
  <md-toolbar layout="row" id="toolbar">
    <ng-include src="'app/views/includes/workspace/workspace.top.html'" flex></ng-include>
  </md-toolbar>
  <ng-include src="'app/views/includes/workspace/filter.sidenav.html'"></ng-include>
  <ng-include src="'app/views/includes/workspace/location.sidenav.html'"></ng-include>
  <ng-include src="'app/views/includes/workspace/image.info.sidenav.html'"></ng-include>
  <md-content md-scroll-y flex>
    <!-- using ng-includes to cut down on the number of lines in each html file -->
    <div>
      <ng-include ng-show="view == 'thumbnails'" src="'app/views/includes/workspace/thumbnails.view.html'" flex></ng-include>
      <ng-include ng-show="view == 'table'" src="'app/views/includes/workspace/table.view.html'" flex></ng-include>
      <ng-include ng-show="view == 'map'" src="'app/views/includes/workspace/map.view.html'" flex></ng-include>
    </div>
  </md-content>
</div>
