<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <header class="sidenav-header">
        <div class="logo">
            <img src="assets/img/logo-ibeis.png" height="240" width="240">
        </div>
    </header>
    <div class="tools" layout="row">
        
    </div>
</md-sidenav>
<div class="layout-column flex">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools md-whiteframe-z1">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <h1 hide-gt-sm>IBEIS</h1>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Settings">
                <i class="fa fa-picture-o"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
                <i class="fa fa-table"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
                <i class="fa fa-map"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content md-scroll-y layout-padding flex>
        Content
    </md-content>
</div>
