<div class="well well-sm well-rounded navbar-static-top">
    <div class="container-fluid">
        <ul class="nav">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary active"><i class="fa fa-picture-o"></i></button>
                <button type="button" class="btn btn-primary"><i class="fa fa-table"></i></button>
                <button type="button" class="btn btn-primary"><i class="fa fa-map-o"></i></button>
            </div>
            <button class="btn-info btn" data-toggle="modal" data-target="#filter-modal"><i class="fa fa-filter"></i> Filter</button>
        </ul>
    </div>
</div>
<!-- <div class="container-fluid"> -->
<div data-columns>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/300x480" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/300x480" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/300x480" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/300x480" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/300x480" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/300x480" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/300x480" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/300x480" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/180x180" alt="yoho">
    </div>
    <div class="thumbnail">
        <img src="http://placehold.it/300x480" alt="yoho">
    </div>
</div>
<!-- </div> -->
<div class="modal fade" id="filter-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Filter Workspace</h4>
            </div>
            <div class="modal-body">
                <p>List of necessary parameters: <br>
              		-Search?<br>
              		<row>
              		<h5>Image Types:</h5>
              		<div class="checkbox">
              		<label><input type="checkbox" value="" checked="true">Images</label>
              		<label><input type="checkbox" value="" checked="true">Annotations</label>
              		<label><input type="checkbox" value="" checked="true">Animals</label>
              		</div>
              		</row>
              		<h5>Images Displayed: 24</h5>
              		<h5>Available Metadata</h5>
              		<row>
              		<div class="btn-group">
					  <button data-toggle="dropdown" class="btn dropdown-toggle"  data-placeholder="Weather">Weather<span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><input type="checkbox" id="weather1"><label for="weather1" name="clear" value="0">Clear</label></li>
					      <li><input type="checkbox" id="weather2"><label for="weather2" name="rain" value="1">Rain</label></li>
					      <li><input type="checkbox" id="weather3"><label for="weather3" name="overcast" value="1">Overcast</label></li>
					    </ul>
					</div>
					</row>
					<row>
					<div class="btn-group">
					  <button data-toggle="dropdown" class="btn dropdown-toggle"  data-placeholder="Species">Species<span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><input type="checkbox" id="grevy"><label for="grevy" name="clear" value="0">Grevy Zebra</label></li>
					     
					    </ul>
							</div>
							</row>	
							<row>		
					<div class="btn-group">
					  <button data-toggle="dropdown" class="btn dropdown-toggle"  data-placeholder="Gender">Gender<span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><input type="checkbox" id="gender1"><label for="gender1" name="male" value="0">Male</label></li>
					      <li><input type="checkbox" id="gender2"><label for="gender2" name="female" value="1">Female</label></li>
					      
					    </ul>

					</div></row>
					
					
            </div>
            <div class="modal-footer">	
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="" data-dismiss="modal">Use</button>
                <button type="button" class="btn btn-primary" ng-click="" data-dismiss="modal">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>