.sidenav {
    /*background: #FCFCFC;*/
}

.sidenav-header {
    flex-shrink: 0;
    z-index: 2;
}

.logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.tools {
    background: #4CAF50;
    height: 48px;
}

.tools-button {
    font-weight: 600;
}

.toolbar-divider {
	padding: 15px 0;
	margin: 0 10px;
	border-right: 1px solid #000;
}
md-checkbox.md-checked.green .md-icon {
 background-color: rgba(0, 255, 0, 0.87);
}
.nav-font {
    font-size: 14px;
}
