#toolbar {
	/*background: #84AD5F;*/
}

.sidenav {
    /*background: #FCFCFC;*/
}

.sidenav-header {
    flex-shrink: 0;
}

.logo {
    text-align: center;
    padding: 12px 0;
    background: white;
    /*border-top: 1px solid rgba(0,0,0,0.12);*/
}

.tools {
    background: #B8B9BB; /*#4CAF50;*/
    height: 48px;
}

.tools-button {
    font-weight: 600;
}

.toolbar-divider {
	padding: 15px 0;
	margin: 0 10px;
	border-right: 1px solid #000;
}

md-checkbox.md-checked.green .md-icon {
 background-color: rgba(0, 255, 0, 0.87);
}
.nav-font {
    font-size: 14px;
}

#marker-sidenav {
	min-width: 420px;
	max-width: 420px;
}
#main-sidenav {
	min-width: 360px;
	max-width: 360px;
}

.angular-google-map-container {
	height: 1000px;
}

md-menu-content {
    z-index: 100;
}

.sidenav-btn {
    text-align: left;
    padding-left: 15px;
}

.action-container {
    margin: 20px;
}

.main-menu {
    background: #448AFF;
}

.main-menu > md-menu > button {
    color: white;
    font-weight: 600;
}

.ws-title {
    text-align: center;
}

/* Table Styles */
table {
    overflow: scroll;
}

th {
    text-align: left;
    padding: 20px 0 20px 10px;
}

tr:hover > th {
    cursor: default !important;
}

tr > th {
    border-bottom: 1px solid #ddd;
}

tr {

}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:hover {
    cursor: pointer;
}

.image-card:hover {
    cursor: pointer;
}

td {
    padding-left: 10px;
}
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}

.demo-gallery {
  width: 100%;
  height: auto;
  float: left;
}
.demo-gallery a {
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
box-sizing: border-box;
color: rgb(49, 105, 179);
cursor: auto;
display: block;
float: left;
font-family: myriad-pro, 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
height: 113px;
line-height: 0px;
margin-bottom: 12px;
margin-left: 0px;
margin-right: 12px;
margin-top: 0px;
text-decoration: underline;
width: 171px;

}

/*.image-card{
    min-height: 250px;
    background: #000000;
}*/
.grid-container{
    margin: 10px;
}
.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    min-height: 252px;
    max-height: 252px;
}
.grid-img {
    width: 100%;
    display: table-cell;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}
.image-information{
    margin: 0;
    text-align: center;
}




*{box-sizing: border-box;}
.flowGrid:before,.flowGrid:after{
    content: "";
    display: table;
}
.flowGrid:after{
    clear:both;
}
.flowGridItem{ margin-bottom:10px;}
.flowGridItem img{width:100%;}
.flowGridColumn{
    float: left;
    padding-left: 10px;
}
.flowGridColumn:last-of-type{
    padding-right: 10px;
}
