#toolbar {
	background: #84AD5F;
}

.sidenav {
    /*background: #FCFCFC;*/
}

.sidenav-header {
    flex-shrink: 0;
    z-index: 2;
}

.logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.tools {
    background: #B8B9BB; /*#4CAF50;*/
    height: 48px;
}

.tools-button {
    font-weight: 600;
}

.toolbar-divider {
	padding: 15px 0;
	margin: 0 10px;
	border-right: 1px solid #000;
}

md-checkbox.md-checked.green .md-icon {
 background-color: rgba(0, 255, 0, 0.87);
}
.nav-font {
    font-size: 14px;
}

#marker-sidenav {
	min-width: 420px;
	max-width: 420px;
}
#main-sidenav {
	min-width: 400px;
	max-width: 400px;
}

.angular-google-map-container {
	height: 100px;
}