<md-dialog>
  <form ng-submit="upload.completionDialog.completeUpload()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Your Upload Has Completed!</h2>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <div class="md-dialog-content">
        <p>Your upload has completed successfully! Now all you need to do is name your upload so you can return to this set of images at any time.</p>
        <md-input-container md-no-float class="md-block">
          <label>Workspace Name</label>
          <input id="workspace_name_input" ng-model="upload.completionDialog.workspace_name" placeholder="Workspace Name" required>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="button" ng-click="upload.completionDialog.generateName()">
        Create a Name for Me
      </md-button>
      <md-button type="submit">
        Finish Uploading
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
<script>
  $("#workspace_name_input").alphanum({
    allow: '-_;'
  });
</script>
