<md-dialog>
  <form ng-submit="upload.uploadSetDialog.completeUpload()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Your Upload Has Completed!</h2>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <div class="md-dialog-content">
        <p>Your upload has completed successfully! You have a few options regarding how you would where you would like these photos organized.</p>
        <md-input-container>
          <label>Upload Images To...</label>
          <md-select ng-model="upload.uploadSetDialog.addToOption">
            <md-option value="existing">An Existing Upload Set</md-option>
            <md-option value="new">A New Upload Set</md-option>
            <md-option value="undefined">All Images</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="md-dialog-content" ng-if="upload.uploadSetDialog.addToOption === 'existing'">
        <p>You have selected to upload your images to an existing image set. Please select one of the following, and then click confirm.</p>
        <md-radio-group ng-model="upload.uploadSetDialog.uploadSetName">
          <md-radio-button ng-repeat="set in upload.uploadSetDialog.uploadSets" ng-value="set">{{ set }}</md-radio-button>
        </md-radio-group>
      </div>
      <div class="md-dialog-content" ng-if="upload.uploadSetDialog.addToOption === 'new'">
        <p>You have selected to upload your images to a new image set. Please name it below, and then click confirm.</p>
        <md-input-container class="md-block">
          <label>New Image Set Name</label>
          <input ng-model="upload.uploadSetDialog.uploadSetName">
        </md-input-container>
        <md-button type="button" ng-click="upload.uploadSetDialog.generateName()">
          Create a Name for Me
        </md-button>
      </div>
      <div class="md-dialog-content" ng-if="upload.uploadSetDialog.addToOption === 'uncategorized'">
        <p>You have selected to upload your images into the uncategorized set. Click confirm to continute.
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="upload.uploadSetDialog.addToOption === null">
        Confirm
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
<script>
  $("#workspace_name_input").alphanum({
    allow: '-_;'
  });
</script>
