<md-dialog class="" aria-label="detectionDialog" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Detection Review</h2>
      <span flex></span>
      <md-button class="md-primary" ng-click="detection.endReview()">Save and Exit
        <md-tooltip md-autohide>
          Submit current review and exit
        </md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Cancel" ng-click="detection.detectDialogCancel()">
        <i class="fa fa-remove"></i>
        <md-tooltip md-autohide>
          Return to workspace
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-height: 100%;">
    <div id="detection-loading" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout-padding flex class="ibeis-div" id="detection-review"></div>
	<div id="detection-complete">{{detection.reviewCompleteText}}</div>
    <md-dialog-actions layout="row">
      <div>
        <md-button class="md-primary md-raised" ng-disabled="!detection.allowBackButton" ng-click="detection.decrementOffset()">Go Back</md-button>
        <md-button class="md-primary md-raised" ng-click="detection.nextClicked()">Next Image</md-button>
        <!-- <md-utton class="md-primary md-raised" ng-click="detection.endReview()">Save and Exit</md-button> -->
      </div>
    </md-dialog-actions>
  </md-dialog-content>
</md-dialog>
