<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Identification Review</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Cancel" ng-click="identification.hideReview()">
        <i class="fa fa-remove"></i>
        <md-tooltip md-autohide>
          Return to workspace
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-height: 100%;">
    <!-- <div ng-if="reviewData.reviewReady == false" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div> -->
    <div flex class="md-dialog-content" id="identification-review"></div>
    <md-dialog-actions layout="row">
      <div>
        <md-button class="md-primary md-raised" ng-click="identification.next('ia-turk-submit-match')">Visually Same</md-button>
        <md-button class="md-warn md-raised" ng-click="identification.next('ia-turk-submit-notmatch')">Visually Different</md-button>
        <md-button class="md-default md-raised" ng-click="identification.next('ia-turk-submit-notcomparable')">Can't Tell</md-button>
        <md-button class="md-accent md-raised" ng-click="identification.next('ia-turk-submit-photobomb')">Photobomb</md-button>
      </div>
    </md-dialog-actions>
  </md-dialog-content>
</md-dialog>
