<md-dialog id="image-info" aria-label="imageInfo" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Image Information: <em>{{ mediaAsset.id }}</em></h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Cancel" ng-click="cancel()">
        <i class="fa fa-remove"></i>
        <md-tooltip md-autohide>
          Return to workspace
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <!-- image display -->
    <img style="margin: auto; max-width: 100%;" src="{{ mediaAsset.url }}" />
    <div class="md-dialog-content">
      <!-- image metadata and information -->
      <md-subheader>Date and Time
        
      </md-subheader>
      <md-list>
        <div ng-if="!edit_datetime" ng-init="edit_datetime=false">
          <md-list-item>
            {{ mediaAsset.dateTime }} <md-icon-button ng-click="$parent.edit_datetime=true" class="fa fa-edit"></md-icon-button>
          </md-list-item>
        </div>
        <div ng-if="edit_datetime">
          <input id="image_datetime_input" ng-model="workspace_input.datetime_input" ng-value="mediaAsset.dateTime"> 
          </input>
          &nbsp;<md-icon-button ng-click="save_datetime(); $parent.edit_datetime=false" class="fa fa-save"></md-icon-button>
        </div>
      </md-list>
      <md-subheader>Marked Individuals</md-subheader>
      <md-list>
        <md-list-item ng-repeat="ind in mediaAssetContext.MarkedIndividuals">
          <a href="{{ ind.url }}">{{ ind.individualID }}</a>
        </md-list-item>
      </md-list>
      <md-subheader>Occurences</md-subheader>
      <md-list>
        <md-list-item ng-repeat="occ in mediaAssetContext.Occurences">
          {{ occ }}
        </md-list-item>
      </md-list>
      <md-subheader>Annotations</md-subheader>
      <md-list>
        <md-list-item ng-repeat="ann in mediaAssetContext.Annotations">
          {{ ann.id }}
        </md-list-item>
      </md-list>
      <md-subheader>Encounters</md-subheader>
      <md-list>
        <md-list-item ng-repeat="(id, enc) in mediaAssetContext.Encounters">
          <a href="{{ enc.url }}">{{ id }}</a>
        </md-list-item>
      </md-list>
      <md-subheader>Metadata</md-subheader>
      <md-list>
        <md-list-item ng-repeat="(k, v) in mediaAsset.metadata" class="md-2-line">
          <div class="md-list-item-text">
            <h3>{{ k }}</h3>
            <p>{{ v }}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-dialog-content>
</md-dialog>
<!-- <table style="table-layout:fixed; width: 100%">
  <tr>
    <th style="max-width: 100%;">Key</th>
    <th style="max-width: 100%;">Value</th>
  </tr>
  <tr ng-repeat="(k,v) in currentSlides[image_index]">
    <td style="max-width: 100%; word-wrap:break-word">{{k}}</td>
    <td style="max-width: 100%; word-wrap:break-word;  text-align: left"><pre style="word-wrap: break-word;">{{v|json}}</pre></td>
  </tr>
</table> -->
