<!-- Should the Sidenav be changed to some other form of window? Should it take up the entire space of the viewer? half? 1/4? -->
<md-sidenav id="image-info-sidenav" class="md-sidenav-right md-whiteframe-z2" md-component-id="image">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Image Information</h1>
    </md-toolbar>
    <md-content layout-padding>
        <div layout="column" class="sidebar">
        <div>
            <img ng-src="{{currentSlides.annotations[image_index].mediaAsset.url}}" style="max-height: 500px; max-width: 500px; width: auto" ng-click="showGallery(image_index)" />
        </div>
        <div>

            {{currentSlides[image_index].title}}
            </div><div>
            <md-button ng-click="close('image')" class="md-primary">
                Close
            </md-button>
        </div>
        <md-divider></md-divider>
    </md-content>
</md-sidenav>
<ng-photoswipe slides="slides" options="opts" start-on="{{ startEvent }}">
</ng-photoswipe>
