<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="marker">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Map Marker Info: {{currentMarker}}</h1>
    </md-toolbar>
    <md-content layout-padding>
        <div layout="row">
            <span flex></span>
            <md-button ng-click="close('marker')" class="md-primary">
                Close
            </md-button>
        </div>
        <md-divider></md-divider>
    </md-content>
</md-sidenav>
