
<div flex>
    <table st-table="slides" class="table" style="width: 100%">
    	<thead>
        <tr>
			<th>Thumbnail</th>
			<th st-sort="title">Name</th>
			<th st-sort="index">Index</th>
    	</tr>
        </thead>
        <tbody>
        <tr ng-repeat="slide in slides" ng-click="toggleSidenav('image')">
            <td><img ng-src="{{slide.src}}" style="max-height: 150px; max-width: 150px; width: auto" /></td>
            <td>{{slide.title}}</td>
            <td>{{slide.index}}</td>
        </tr>
        </tbody>
    </table>
</div>
