<!-- Note: This gallery uses test data and we will have to design a new one when we find out how the IBEIS API will send us image data -->

<div class="grid-container">
<ul class="dynamic-grid" angular-grid="slides" grid-width="250" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true" >
<li data-ng-repeat="slide in slides" class="grid" ng-click="showGallery($index)">
        <div class="grid">
         <img src="{{slide.src}}" style="max-height: 250px; max-width: 250px; width: auto"/>
         </div>
     </li>
</ul>
<div>




<!-- <div deckgrid source="slides" class="deckgrid" ng-click="showGallery($index)">
    <div class="a-card">
    <figure>
        <h1>{{card.title}}</h1>
        <img src="" data-ng-src="{{card.src}}" height="200px" width="200px" itemprop="contentUrl">
        </figure>
        </div>


</div> -->
<!-- <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery" ng-click="showGallery($index)">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <img src="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024"/>
        <figcaption itemprop="caption description">Image caption 1</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <img src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" itemprop="contentUrl" data-size="964x1024"/>

        <figcaption itemprop="caption description">Image caption 2</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <img src="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" itemprop="contentUrl" data-size="1024x683"/>

        <figcaption itemprop="caption description">Image caption 3</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <img src="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_b.jpg" itemprop="contentUrl" data-size="1024x768"/>

        <figcaption itemprop="caption description">Image caption 4</figcaption>
    </figure>
</div>
 -->
<ng-photoswipe slides="slides" options="opts" start-on="{{ startEvent }}">
</ng-photoswipe>
