<html>
  <head>
    <script src="jquery.js"></script>
    <script src="bower_components/lazysizes/ls.attrchange.min.js" async=""></script>
    <script src="bower_components/lazysizes/lazysizes.min.js" async=""></script>
    <script type="text/javascript">
    var dropZone = document.getElementById('dropZone');

function showDropZone() {
    dropZone.style.visibility = "visible";
}
function hideDropZone() {
    dropZone.style.visibility = "hidden";
}

function allowDrag(e) {
    if (true) {  // Test that the item being dragged is a valid one
        e.dataTransfer.dropEffect = 'copy';
        e.preventDefault();
    }
}

function handleDrop(e) {
    e.preventDefault();
    hideDropZone();
    e.upload.show();
    // $scope.upload.images += e;
    alert('Drop!');
}

// 1
window.addEventListener('dragenter', function(e) {
    showDropZone();
});

// 2
dropZone.addEventListener('dragenter', allowDrag);
dropZone.addEventListener('dragover', allowDrag);

// 3
dropZone.addEventListener('dragleave', function(e) {
    hideDropZone();
});

// 4
dropZone.addEventListener('drop', handleDrop);
</script>
<style type="text/css">
div#dropZone {
  background: white;
  border-color: lightgray; 
  border-width: 7px;
  border-style: dashed;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 96.5%;
  height: 63%;
  z-index: 999;
  opacity: 0.8;
  visibility: hidden;
  position: center;
  padding-top: 200px;
  color: gray;
  font-size: 5em;
  outline: 15px solid white;
  margin: 15px;
}


</style>
  </head>
 
<body>
  <div class="gridListdemoBasicUsage">
  
    
    <div id="dropZone"><input type="file" multiple accept="image/*" class="file-input" id="img-upload-btn" onchange="angular.element(this).scope().upload.select(this)"><center> Drag and drop files here... </center></div>
    <div class='md-padding' layout="row" layout-align="center center" layout-wrap>
      <!-- <div infinite-scroll="addMoreItems()" infinite-scroll-distance='2'> -->
  
        <md-card class="card-img-parent" style="width: 200px; height: 200px;" ng-repeat="slide in currentSlides" ng-click="showImageInfo($event, $index)">
      
          <div style="border: 1px solid black;">
            <!-- <div ng-repeat="label in slide.children">
              <div ng-repeat="k in label.labels">
              {{k}}
              </div>
            </div> -->
            <!-- <img class="card-img lazyload" data-src="{{slide.children[0].url}}"/> -->
            <img class="card-img lazyload" data-src="{{slide.url}}"/>
          </div>
          <md-card-actions layout="row" layout-align="center" class="img-text">
          <!-- <h4>{{slide.title}}</h4 > -->
          </md-card-actions>
      
        </md-card>
      <!-- </div> -->
    </div>
   </div>
</body>
</html>