<div class="gridListdemoBasicUsage" layout-padding flex ng-controller="upload-controller">
  <div class="md-padding" layout="row" layout-wrap>
    <md-card class="upload-card" ng-repeat="im in images.selected">
      <img ng-src="{{ im.imageSrc }}" class="md-card-image" />
      <md-progress-linear md-mode="determinate" value="{{ im.progress }}"></md-progress-linear>
      <md-card-actions layout="row" layout-align="end center">
        <h4>{{ im.name }}</h4>
        <md-button class="md-icon-button" aria-label="Remove" ng-click="remove($index)">
          <i class="fa fa-close"></i>
        </md-button>
      </md-card-actions>
      
    </md-card>
    <!-- <md-card ng-repeat="im in images.selected">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{im.name}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-progress-linear md-mode="determinate" value="{{ im.progress }}"></md-progress-linear>
      <md-card-content layout="row" layout-align="space-between">
        <img class="md-media-xl" ng-src="{{im.imageSrc}}" />
        <md-card-actions layout="column">
          <md-button ng-click="remove($index)" class="md-icon-button" aria-label="Favorite">
            <i class="fa fa-close"></i>
          </md-button>
          <md-button ng-click="console.log(im.progress)" class="md-icon-button" aria-label="Favorite">
            <i class="fa fa-book"></i>
          </md-button>
        </md-card-actions>
      </md-card-content>
    </md-card> -->
  </div>
</div>
