<md-content md-scroll-y layout-padding layout="column" flex ng-controller="upload-controller">
  <div class="action-container" layout="column">
    <input type="file" multiple accept="image/*" class="file-input" id="img-upload-btn" onchange="angular.element(this).scope().select(this)">
    <md-button class="md-primary md-raised sidenav-btn" ng-click="proxy('img-upload-btn')" ng-disabled="stage > 0">
      Select <strong>Images</strong>
    </md-button>
    <md-button class="md-primary md-raised sidenav-btn" ng-click="upload()" ng-disabled="stage > 0">
      Upload <strong>Images</strong>
    </md-button>
  </div>
  <md-button class="md-warn md-raised sidenav-btn" ng-click="setMode('workspace')">Return to the Workspace</md-button>
</md-content>
