<md-content md-scroll-y layout-padding layout="column" flex>
  <div class="action-container" layout="column">
    <md-button class="md-primary md-raised sidenav-btn">Upload <strong>Images</strong></md-button>
    <md-button class="md-primary md-raised sidenav-btn">Upload <strong>Metadata</strong></md-button>
    <md-button class="md-secondary md-raised sidenav-btn">Find <strong>Occurences</strong></md-button>
  </div>
  <md-button class="md-warn md-raised sidenav-btn" ng-click="setMode('workspace')">Cancel Upload</md-button>
</md-content>
