<md-dialog ng-cloak flow-init="{target: '/upload'}" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message" flow-drag-enter="dropClass='drop-hover'" flow-drag-leave="dropClass=''">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Upload Images</h2>
                <span flex></span>
                <md-button ng-click="closeDialog()" class="md-icon-button">
                    <i class="fa fa-close"></i>
                    <md-tooltip md-autohide>
                        Close Upload Dialog
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <div class="drop" layout="row" flow-drop ng-class="dropClass">
                        <div layout="column">
                            <md-button flow-btn>Upload Files</md-button>
                            <md-button flow-btn flow-directory>Upload Folder</md-button>
                        </div>
                        <div>
                            Or drag and drop your images here.
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" md-scroll-y flex>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="file in $flow.files">
                                <img class="md-avatar" flow-img="file" fullscreen></img>
                                <div class="md-list-item-text" layout="column" flex>
                                    <p>{{file.name}}</p>
                                    <md-progress-linear md-mode="determinate" value="60"></md-progress-linear>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
