<md-content md-scroll-y layout-padding layout="column" class="left-scroll" flex>
  <h2 class="ws-title">{{workspace}}</h2>
  <!-- <div id="pieChart"></div> -->
  <!-- Functions -->
  <md-divider></md-divider>
  <div class="action-container" layout="column">
    <md-button class="md-primary md-raised sidenav-btn" ng-click="detection.startDetection($event)" ng-disabled="workspace == 'Loading...'">
      <strong>Run</strong> Detection
    </md-button>
    <md-button class="md-primary md-raised sidenav-btn" ng-click="detection.showDetectionReview($event)" ng-disabled="workspace == 'Loading...'">
      <strong>Review</strong> Detection
    </md-button>
    <md-button class="md-primary md-raised sidenav-btn" ng-disabled="workspace == 'Loading...'">
      <strong>Review</strong> Annotations
    </md-button>
    <md-button class="md-primary md-raised sidenav-btn" ng-disabled="workspace == 'Loading...'" ng-click="identification.startIdentification()">
      <strong>Run</strong> Identification
    </md-button>
    <md-button class="md-primary md-raised sidenav-btn" ng-disabled="workspace == 'Loading...'" ng-click="identification.showIdentificationReview()">
      <strong>Review</strong> Identification
    </md-button>
    <md-button class="md-secondary md-raised sidenav-btn" ng-disabled="workspace == 'Loading...'" href="http://springbreak.wildbook.org/">
      <strong>View</strong> Biological Data
    </md-button>
  </div>
  <md-divider></md-divider>
  <p ng-hide="workspace == 'Loading...'">
    Other workspace information.
  </p>
</md-content>
