<md-content md-scroll-y layout-padding layout="column" class="left-scroll" flex>
  <h2 class="ws-title">{{workspace}}</h2>
  <h3 style="text-align: center">Placeholder for Pie Chart of States of Processing</h3>
  <!-- Functions -->
  <md-divider></md-divider>
  <div class="action-container" layout="column">
    <md-button class="md-primary md-raised sidenav-btn"><strong>Run</strong> Detection</md-button>
    <md-button class="md-primary md-raised sidenav-btn"><strong>
            Review</strong> Detection</md-button>
    <md-button class="md-primary md-raised sidenav-btn" disabled><strong>Run</strong> Identification</md-button>
    <md-button class="md-primary md-raised sidenav-btn" disabled><strong>Review</strong> Identification</md-button>
  </div>
  <md-divider></md-divider>
  <p>
    Other workspace information.
  </p>
</md-content>
